<html>
<head>
	<title>Check time!</title>
</head>
<body>
	<h1>What City?</h1>
	<form method="get" action="gettime">
		<input type="text" name="cityname"><br>
		<button type="submit">Get me the time!!!</button>
	</form>
	


</body>
</html>